@import "../../styles/variables";
@import "../../styles/mixins";

.input_wrap {
  display: flex;
  flex-direction: column;

  .input_label {
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 24px;
    color: $grey;
    opacity: 0.8;
  }
}

.input {
  @include input;
}